@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

[x-cloak] {
    display: none !important;
}

:root {
    --primary-colour: hsl(0, 0%, 1%);
    --entry-content-colour: hsl(30, 3%, 14%);
    --text-colour: black;
    --border-colour: lightgray;
    --highlight-colour: lightblue;
    --background-colour: white;
}

body {
    font-family: 'Noto Sans', 'Arial', 'sans-serif';
    margin: 0 auto;
    line-height: 1.5;
    padding: 0em 0rem;
    overflow: hidden;
    color: var(--text-colour);
    background-color: var(--background-colour);
}

.header {
    display: grid;
    align-items: center;
    border-right: thin var(--border-colour) solid;
    min-width: 25ch;
}

.header_button {
    text-decoration: none;
    height: 100%;
    border: solid;
    background-color: rgba(255, 0, 0, 0);
    border-color: #00000000;
    border-radius: 3px;
    justify-self: start;
}

.header_button:hover {
    background-color: var(--border-colour);
}

.header_button:active {
    background-color: var(--highlight-colour);
}

.settings_button {
    grid-column: 3;
    justify-self: end;
}

.back_button {
    grid-column: 3;
    justify-self: end;
}

.header_button img {
    width: 100%;
    height: 100%;
    align-items: center;
}

.header_button:hover {
    opacity: 70%;
}

.header_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    border-bottom: thin var(--border-colour) solid;
}


.refresh_button.htmx-request,
.refresh_button_active,
.refresh_button_active.htmx-request {
    animation: loading-spinner 1s linear infinite;
    background-color: #00000000;
}

@keyframes loading-spinner {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.main {
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20fr;
    height: 100vh;
    width: 100vw;
}



.body {
    display: grid;
    overflow: hidden;
}



.feed_list_container,
.feed_entries_container,
.feed_entry_item {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* FEED LIST */

.feed_title {
    font-size: 1.2rem;
}

input.feed_button {
    display: none;
}

.feed_list_items {
    min-width: 25ch;
}

.feed_list_container, .feed_list_header {
    min-width: 25ch;
    border-right: thin var(--border-colour) solid;
}

.feed_list::-webkit-scrollbar,
.feed_entries::-webkit-scrollbar {
    width: 1px;
}

.feed_list::-webkit-scrollbar-thumb,
.feed_list::-webkit-scrollbar-track,
.feed_entries::-webkit-scrollbar-thumb,
.feed_entries::-webkit-scrollbar-track {
    background-color: var(--border-colour);
}

.feed_icon {
    width: 1rem;
    height: 1rem;
    margin-right: 1ch;
}

.feed_card {
    border-radius: 2%;
    margin: 0.5rem;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-size: 18px;
}

.feed_card_left {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.feed_card_right {
    text-align: right;
    opacity: 70%;
    font-size: 14px;
}

.unread_items_count {
    padding: 4px 8px;
    border-radius: 50%;
}

.feed_card:hover {
    background-color: var(--border-colour);
}

@media screen and (max-width: 999px) {

    .feed_card_left,
    .feed_card_right,
    .feed_card_title {
        font-size: 32px;
    }

    .feed_list_items {
        border-right: none;
    }
}

/* ENTRIES LIST */

input.entry_button {
    display: none;
}

.feed_entries_container, .feed_entries_header {
    min-width: 25ch;
    border-right: thin var(--border-colour) solid;
}

.feed_entries::-webkit-scrollbar {
    width: 1px;
}

.feed_entries::-webkit-scrollbar-thumb,
.feed_entries::-webkit-scrollbar-track {
    background-color: var(--border-colour);
}

.entry_card {
    text-overflow: ellipsis;
    font-size: 16px;
    border-radius: 2%;
    margin: 0.5rem;
    padding: 5px;
}

.entry_info {
    display: grid;
    grid-template-columns: 1fr auto;
}

.mark_read_icon {
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
}

.entry_card:hover {
    background-color: var(--border-colour);
}

.entry_label input[type="radio"]:checked+.entry_card,
.feed_label input[type="radio"]:checked+.feed_card {
    background-color: var(--highlight-colour);
}

@media screen and (max-width: 999px) {

    .entry_card,
    .entry_info {
        font-size: 22px;
    }

    .entry_info {
        display: flex;
    }

    .container {
        padding: 20px;
    }
}

/* ENTRY CONTENT */

.feed_entry_item {
    padding: 20px;
    color: var(--entry-content-colour);
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.feed_entry_item::-webkit-scrollbar {
    width: 0.1rem;
}

.feed_entry_item::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.entry_icon {
    height: 1rem;
    width: 1rem;
}

.entry_feed_title {
    font-size: 14px;
    opacity: 0.75;
}

.entry_title_container {
    max-width: 90ch;
    margin: 0 auto;
    margin-bottom: 24px;
}

.entry_title {
    /* font-family: 'Merriweather', serif; */
    font-family: "Neuton", serif;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.05;
    text-decoration: none;
    color: inherit;
}

.entry_title h1 {
    margin-bottom: 8px;
    margin-top: 4px;
}

.entry_info {
    opacity: 0.75;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1px;
}

.entry_content {
    /* font-family: 'Spectral', serif; */
    font-family: "Neuton", serif;
    font-size: clamp(20px, 1.5vw, 22px);
    padding-top: 20px;
    max-width: 72ch;
    margin: 0 auto;
    text-align: left;
    line-height: 1.6;
}

.entry_content p {
    margin-bottom: 20px;
}

.entry_content img,
figure {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
}

.entry_content figcaption {
    font-size: small;
    line-height: 1.4rem;
    margin-top: 4px;
}

.entry_content code {
    font-size: small;
}

pre {
    background-color: var(--background-colour);
}

pre code {
    display: block;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
}

pre code::before {
    content: attr(data-line) "\00a0";
    display: inline-block;
    margin-right: 10px;
}

code {
    padding: 2px 5px;
    font-family: 'Courier New', monospace;
}

a {
    color: var(--primary-colour);
}

@media screen and (max-width: 999px) {
    :root {
        font-size: 1.2rem;
    }

    .entry_feed_title {
        font-size: 16px;
    }

    .entry_icon {
        height: 2rem;
        width: 2rem;
    }

    .entry_title {
        font-size: 45px;
    }

    .entry_content {
        font-size: clamp(26px, 1.5vw, 30px);
        padding-top: 20px;
        max-width: 90%;
        line-height: 28px;
    }

    .entry_content p {
        margin-bottom: 4rem;
    }

    .feed_card_title {
        font-size: 1.8rem;
    }

    .button_icon {
        min-height: 3rem;
    }

    small {
        font-size: 1.2rem;
    }

    .header {
        border-right: none;
    }
}

/* SETTINGS TABLE */

.settings_table_feed_card {
    margin-top: 2px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-size: 14px;
}

a span {
  display:inline-block;
  animation: wiggle 1s infinite;
  animation-delay: calc(var(--animation-order) * 307ms);
  transform-origin: center;
  animation-timing-function: ease-in-out;
}


@keyframes wiggle {
  0% {
    transform: scale(1.0) translateY(0px) rotate(0deg);
  }
  20%{
    transform: scale(1.0) translateY(-2px) rotate(-3deg);
  }
  40%{
    transform: scale(1.1) translateY(-2px) rotate(3deg);
  }
  60%{
    transform: scale(1.0) translateY(2px) rotate(-3deg);
  }
  80%{
    transform: scale(0.95) translateY(-2px) rotate(3deg);
  }
  100% {
    transform: scale(1.0) translateY(0px) rotate(0deg);
  }
}
