@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Noto+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather:wght@400;700;900&display=swap');
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';


[x-cloak] {
    display: none !important;
}

:root {
    --primary-colour: hsl(0, 0%, 1%);
    --entry-content-colour: hsl(36, 5%, 21%);
    --text-colour: black;
    --border-colour: lightgray;
    --highlight-colour: lightblue;
    --background-colour: white;
}

/* :root {
    --primary-colour: hsl(22, 94%, 44%);
    --entry-content-colour: hsl(37, 43%, 88%);
    --text-colour: rgba(255, 255, 255, 0.856);
    --border-colour: darkgray;
    --highlight-colour: darkblue;
    --background-colour: hsl(0, 0%, 10%);
} */

/* .refresh_button,
.back_button {
    filter: brightness(0) invert(1);
} */

/* .mark_read_icon {
    filter: brightness(0) invert(1);
} */


body {
    font-family: 'Noto Sans', 'Arial', 'sans-serif';
    margin: 0 auto;
    /* max-width: 50em; */
    line-height: 1.5;
    padding: 0em 0em;
    overflow: hidden;
    color: var(--text-colour);
    background-color: var(--background-colour);
}

div {
    /* border: 1px black solid; */
}

.feed_list_header {
    padding: 5px;
}

.refresh_button,
.back_button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 80%;
    border: solid;
    background-color: rgba(255, 0, 0, 0);
    border-color: #0000;
}

.refresh_button img, .back_button img {
    width: 100%;
    height: 100%
}

.refresh_button:hover,
.back_button:hover {
    opacity: 70%;
}

.refresh_button.htmx-request {
    animation: loading-spinner 1s linear infinite;
}

@keyframes loading-spinner {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* PAGE FORMATTING */
.main {
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
}

.feed_list_header {
    display: flex;
    justify-content: left;
    align-items: left;
}

.feed_entries_header,
.feed_entry_header {
display: flex;
justify-content: right;
align-items: right;
}


.body {
    display: grid;
    overflow: hidden;
}


.feed_list_container,
.feed_entries_container,
.feed_entry_item {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* -------------------------- */




/* FEED LIST */
.rss_feed_title {
    font-size: 1.2em;
}

input.rss_feed_button {
    display: none;
}

.feed_list_items {
    min-width: 25ch;
    border-right: thin var(--border-colour) solid;
}

.feed_list::-webkit-scrollbar {
    width: 1px;
}

.feed_list::-webkit-scrollbar-thumb {
    background-color: var(--border-colour);
}

.feed_list::-webkit-scrollbar-track {
    background-color: var(--border-colour);
}

.feed_list_header {
    min-width: 25ch;
}

.rss_feed_icon {
    width: 1em;
    height: 1em;
    margin-right: 1ch;
}

.rss_feed_card {
    border-radius: 2%;
    margin-left: 5px;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 8px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-size: 14px;
}

.rss_feed_card_left {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rss_feed_card_right {
    text-align: right;
    opacity: 70%;
    font-size: 14px;
}

.unread_items_count {
    padding: 4px 8px;
    border-radius: 50%;
    /* Make it a circle */
}

.rss_feed_card:hover {
    background-color: var(--border-colour);
}

@media screen and (max-width: 999px) {

    .rss_feed_card_left,
    .rss_feed_card_right,
    .rss_feed_card_title {
        font-size: 32px;
        /* Adjust font size for screens 900px and wider */
    }
}

/* -------------------------- */




/* ENTRIES LIST */


input.rss_entry_button {
    display: none;
}

.feed_entries_container {
    min-width: 200px;
    border-right: thin var(--border-colour) solid;
}

.feed_list_header {
    min-width: 25ch;
    border-right: 1px solid var(--border-colour);
}

.feed_entries::-webkit-scrollbar {
    width: 1px;
}

.feed_entries::-webkit-scrollbar-thumb {
    background-color: var(--border-colour);
}

.feed_entries::-webkit-scrollbar-track {
    background-color: var(--border-colour);
}


.rss_entry_card {
    text-overflow: ellipsis;
    font-size: 14px;

    border-radius: 2%;
    margin-left: 5px;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 8px;

    padding: 5px;
}

.rss_entry_info {
    display: grid;
    grid-template-columns: 1fr auto;
}

.mark_read_icon {
    width: 1em;
    /* Adjust the width of the icon as needed */
    height: 1em;
    /* Adjust the height of the icon as needed */
    margin-right: 5px;
    /* Adjust the margin as needed */
}

.rss_entry_card:hover {
    background-color: var(--border-colour);
}

.rss_entry_label input[type="radio"]:checked+.rss_entry_card {
    background-color: var(--highlight-colour);
}

.rss_feed_label input[type="radio"]:checked+.rss_feed_card {
    background-color: var(--highlight-colour);
}

@media screen and (max-width: 999px) {

    .rss_entry_card,
    .rss_entry_info {
        font-size: 22px;
        /* Adjust font size for screens 900px and wider */
    }

    .rss_entry_info {
        display: flex;
    }

    .feed_entries_container,
    .feed_list_container {
    padding: 20px;
    }
}

/* -------------------------- */




/* ENTRY CONTENT */
.feed_entry_item {
    padding: 20px;
    color: var(--entry-content-colour);
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

}

.feed_entry_item::-webkit-scrollbar {
    width: 0.1em;
}

.feed_entry_item::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.rss_entry_icon {
    height: 1em;
    width: 1em;
}

.rss_entry_feed_title {
    font-size: 14px;
    opacity: 0.75;
}

.rss_entry_title_container {
    max-width: 90ch;
    margin: 0 auto;
    margin-bottom: 24px;
}

.rss_entry_title {
font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 1.05;
    text-decoration: none;
    color: inherit;
}

.rss_entry_title h1 {
    margin-bottom: 8px;
    margin-top: 4px;
}

.rss_entry_info {
    opacity: 0.75;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1px;
}

.rss_entry_content {
    font-family: 'Spectral', serif;
    font-size: clamp(18px, 1.5vw, 21px);
    padding-top: 20px;
    max-width: 72ch;
    margin: 0 auto;
    text-align: left;
    line-height: 28px;
}

.rss_entry_content p {
    margin-bottom: 20px;
}

.rss_entry_content img,
figure {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
}

.rss_entry_content figcaption {
    font-size: small;
    line-height: 1.4em;
    margin-top: 4px;
}

.rss_entry_content code {
    font-size: small;
}

pre {
    background-color: var(--background-colour);
}

/* Code syntax highlighting styles (using Prism.js for example) */
pre code {
    display: block;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
}

/* Line numbers for code blocks (optional) */
pre code::before {
    content: attr(data-line) "\00a0";
    display: inline-block;
    margin-right: 10px;
}

/* Inline code styles */
code {
    padding: 2px 5px;
    font-family: 'Courier New', monospace;
}

a {
    color: var(--primary-colour);
}

@media screen and (max-width: 999px) {

    .rss_entry_feed_title {
        font-size: 10px;
    }

    .rss_entry_icon {
        height: 2em;
        width: 2em;
    }

    .rss_entry_title {
        font-size: 45px;
    }

    .rss_entry_content {
        font-family: 'PT Serif', serif;
        font-size: clamp(18px, 1.5vw, 21px);
        padding-top: 20px;
        margin: 0 auto;
        max-width: 90%;
        text-align: left;
        line-height: 28px;
    }

    .rss_entry_content p {
        margin-bottom: 4em;
    }

}

/* -------------------------- */