{% for feed in rss_feeds %}
<label class="rss_feed_label">
	<input type="radio" name="feed" class="rss_feed_button" hx-get="/entries/{{ feed.id }}?next_page=0"
		hx-target="#feed_entries" hx-swap="scroll:top"
		@click="feed_list_show = (ismobile) ? false : true; entry_list_show = true;">

	<div class="rss_feed_card">
		{% if not feed.favicon_url %}
		<span><img class="rss_feed_icon" src="{{ url_for('static', path='/svg/bx-rss.svg' ) }}"></span>
		{% else %}
		<span> <img class="rss_feed_icon" src="{{ feed.favicon_url }}"></span>
		{% endif %}
		<span class="rss_feed_card_title">{{ feed.title }}</span>
	</div>
</label>
{% endfor %}