<button class="back_button header_button"
        x-show="ismobile" 
        @click="if (ismobile) {
                    if (entry_list_show) {
                        entry_list_show = false;
                        feed_list_show = true};
                    if (entry_container_show) { 
                        entry_container_show = false;
                        entry_list_show = true}
                };">
        <img class="button_icon" src="{{ url_for('static', filename='/svg/bx-chevron-left.svg') }}">
</button>