<a class="card" href="{{ url_for('entry', entry_id=entry.id) }}">
    <div class="card-header">
        <h2 class="card-title">{{ entry.title }}</h2>
    </div>

    <div class="card-content">
        <div class="card-latest">{{ entry.published|entry_timedetla }}</div>
        <div class="card-unread entry-card">
            <div class="card-feed-info">
                {% if not entry.feed.favicon_data %} {% include 'bx-rss.svg' %}
                {% else %}
                <img
                    class="card-favicon"
                    src="{{ url_for('serve_favicon', feed_id=entry.feed.id) }}"
                    alt="Feed Logo"
                />
                {% endif %}
                <span class="card-feed-title">{{ entry.feed.title }}</span>
            </div>
            <div class="card-read-status">
                {% if entry.read %}
                <small>◯&nbsp;</small>
                {% else %}
                <small>⬤&nbsp;</small>
                {% endif %}
            </div>
        </div>
    </div>
</a>
