<label class="rss_entry_label" id="rss_entry_label_{{ entry.id }}" x-data="{ is_read: {{ entry.read|string|lower }} }">
    <input type="radio" name="entry" class="rss_entry_button" hx-get="/entry/{{ entry.id }}"
        hx-target="#feed_entry_item" hx-swap="scroll:top"
        x-on:htmx:after-request.camel="entry_list_show = (ismobile) ? false : true; entry_container_show = true; is_read = true;">

    {% if final_entry %}
    <div class="rss_entry_card" id="rss_entry_card_{{ entry.id }}"
        hx-get="/entries/{{ rss_feed.id }}?page={{ next_page }}" hx-trigger="intersect once" hx-swap="beforeend"
        hx-target="#rss_entry_label_{{ entry.id }}">
        {% else %}
        <div class="rss_entry_card" id="rss_entry_card_{{ entry.id }}">
            {% endif %}
            <div class="rss_entry_info" id="rss_entry_info_{{ entry.id }}">


                <template x-if="is_read">
                    <!-- <object class="mark_read_icon" id="rss_entry_read_icon_{{ entry.id }}"
                        data="{{ url_for('static', filename='/svg/bx-check-circle.svg') }}" type="image/svg+xml">
                    </object> -->
                    <small>◯</small>
                </template>

                <template x-if="!is_read">
                    <!-- <object class="mark_read_icon" id="rss_entry_read_icon_{{ entry.id }}" 
                        data="{{ url_for('static', filename='/svg/bx-circle.svg') }}" type="image/svg+xml">
                    </object> -->
                    <small>⬤</small>
                </template>

                <small>{{ entry.published|entry_timedetla }}</small>

            </div>
            <div class="rss_entry_card_title">{{ entry.title }}</div>
        </div>
</label>