{% extends "base.html" %}

{% block content %}

    <div class="entry_feed_title">
        {% if not feed.favicon_path %}
        {% include 'bx-rss.svg' %}
        {% else %}
        <span><img class="card-favicon" src="{{ url_for('static', filename=feed.favicon_path ) }}"></span>
        {% endif %}
        <span>{{ feed.title }}</span>
    </div>
    <a class="entry_title" href="{{ entry.link }}" target="_blank">
        <h1>{{ entry.title }}</h1>
    </a>
    <p class="entry_info"><small>{{ entry.author }}</small></p>
    <p class="entry_info"><small>{{ entry.published.strftime("%d %B %Y") }}</small></p>
<div class="entry_content">{{ entry.content|safe }}</div>

{% endblock %}