<a class="card" href="{{ url_for('entries', feed_id=feed.id) }}">
    <div class="card-header">
        {% if not feed.favicon_data %} {% include 'bx-rss.svg' %} {% else %}
        <img
            class="card-favicon"
            src="{{ url_for('serve_favicon', feed_id=feed.id) }}"
            alt="Feed Logo"
        />
        {% endif %}
        <h2 class="card-title">{{ feed.title }}</h2>
    </div>

    <div class="card-content">
        <div class="card-latest">
            {% if feed.last_new_article_found and feed.id != "all" %}
            <small
                >Latest article: {{ feed.last_new_article_found|entry_timedetla
                }}</small
            >
            {% endif %}
        </div>
        <div class="card-entry-preview">
            {% if feed.latest_entry_titles and feed.id != "all" %}
            {{ feed.latest_entry_titles | join(" • ") }}
            {% endif %}
        </div>
        <div class="card-time {{ feed|get_feed_timestamp_class }}">
            {% set color = feed|get_feed_timestamp_color %}
            {% if feed.last_unread_entry_date %}
            <span{% if color %} style="background-color: {{ color }};"{% endif %}>{{ feed.last_unread_entry_date|short_time_ago }}</span>
            {% elif feed.last_new_article_found %}
            <span{% if color %} style="background-color: {{ color }};"{% endif %}>{{ feed.last_new_article_found|short_time_ago }}</span>
            {% else %} - {% endif %}
        </div>
    </div>
</a>
