<label class="feed_label" id="feed_label_{{ feed.id }}">
  <input type="radio" name="feed" class="feed_button" hx-get="/entries/{{ feed.id }}?next_page=0"
    hx-target="#feed_entries_items" hx-swap="scroll:top"
    x-on:htmx:after-request.camel="feed_list_show = (ismobile) ? false : true; entry_list_show = true;">

  <div class="feed_card">
    <div class="feed_card_left">
      {% if not feed.favicon_path %}
      <span><img class="feed_icon" src="{{ url_for('static', filename='/svg/bx-rss.svg' ) }}"></span>
      {% else %}
        <span><img class="feed_icon" src="{{ url_for('static', filename=feed.favicon_path ) }}"></span>
      {% endif %}
      <span class="feed_card_title">{{ feed.title }}</span>
    </div>

    <div class="feed_card_right"  x-data="{ unread_count: '{{ feed.unread_count }}' }">
      <span class="unread_items_count" x-text="{{ feed.unread_count }}"></span>
    </div>
  </div>
</label>