<a class="card" href="{{ url_for('entries', feed_id=feed.id) }}">


    <div class="card-header">
        {% if not feed.favicon_path %}
        {% include 'bx-rss.svg' %}
        {% else %}
        <img class="card-favicon" src="{{ url_for('static', filename=feed.favicon_path ) }}" alt="Feed Logo">
        {% endif %}
        <h2 class="card-title">{{ feed.title }}</h2>
    </div>

    <div class="card-content">
        <div class="card-latest"></div>
        <div class="card-unread">{{ feed.unread_count }}</div>
    </div>
</a>