<div class="header feed_entry_header" x-show="entry_container_show" x-transition:enter.duration:20ms>
    <div>
        <button class="read_button header_button" hx-get="/feed_read" hx-target="#feed_list_items"
            id="mark_read_button_entry">
            {% include 'bx-check-circle.svg' %}
        </button>
        <button class="header_button" id="fetch_content_button" hx-get="/fetch_content/" hx-target="#feed_entry_item"
            hx-swap="innerHTML show:top">
            {% include 'bx-book-open.svg' %}
        </button>

    </div>
    {% include 'button_back.html' %}
</div>