<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Dispatch</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>

<body>
    <div class="main" x-data="{ columns: '', feed_list_show: true, entry_list_show: false, entry_container_show: false}"
        x-init="ismobile = (window.innerWidth < 1000); columns = ismobile ? '1fr' : '1.5fr 1fr 8fr'">

        <div class="body" x-bind:style="{ gridTemplateColumns: columns }">

            <div class="feed_list_container" x-show="feed_list_show" x-transition:enter.duration:20ms>
                <div class="feed_list_header">{% include 'feed_header.html' %}</div>
                <div class="feed_list_items" hx-get="/feeds" hx-trigger="load"></div>
            </div>

            <div class="feed_entries_container" x-show="entry_list_show" x-transition:enter.duration:20ms>
                <div class="feed_entries_header">{% include 'back_button.html' %}</div>
                <div class="feed_entries_items" id="feed_entries_items"></div>
            </div>

            <div class="feed_entry_item" x-show="entry_container_show" x-transition:enter.duration:20ms>
                <div class="feed_entry_header">{% include 'back_button.html' %}</div>
                <div class="feed_entry_item" id="feed_entry_item"></div>
            </div>

        </div>

    </div>
</body>

</html>