{% extends "base.html" %}
{% block content %}

<div class="settings_container">

    <div class="settings_item">
        <h1>Settings</h1>
    </div>

    <div class="settings_item">
        <form id="theme_form" hx-post="/set_default_theme" hx-target="#root_style" hx-swap="outerHTML">
            <label for="theme">Select a theme:</label>
            <select id="theme" name="theme">
                <option hx-post="/set_theme" hx-target="#root_style" hx-swap="outerHTML" value="light">Light</option>
                <option hx-post="/set_theme" hx-target="#root_style" hx-swap="outerHTML" value="dark">Dark</option>
                <option hx-post="/set_theme" hx-target="#root_style" hx-swap="outerHTML" value="clean">Clean</option>
                <option hx-post="/set_theme" hx-target="#root_style" hx-swap="outerHTML" value="new">New</option>
            </select>
            <button type="submit">Set Default</button>
        </form>
    </div>

    <div class="settings_item">
        <form id="add_feed_form" hx-post="/add_feed" hx-params="*" hx-target="#add_feed_result" hx-swap="innerHTML">
            <h3>Add feed</h3>
            <input type="text" id="feed_url" name="feed_url" placeholder="https://example.com/feed.xml" required>
            <button type="submit">Add Feed</button>
        </form>
        <div id="add_feed_result"></div>
    </div>

    <div class="settings_item">
        <form hx-post="/upload_opml" enctype="multipart/form-data" hx-target="#opml_upload_result" hx-swap="innerHTML">
            <h3>Import from OPML</h3>
            <div>
                <input type="file" name="opml_file" accept=".opml">
                <input type="submit" value="Submit">
            </div>
        </form>
        <div id="opml_upload_result"></div>
    </div>

    <div class="settings_item">
        <table>
            <thead>
                <tr>
                    <th>Feed</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for feed in feeds %}
                <tr>
                    <td class="settings_table_feed_card">
                        <div class="feed_card_left">
                            {% if not feed.favicon_path %}
                            <span>{% include 'bx-rss.svg' %}</span>
                            {% else %}
                            <span><img class="card-favicon"
                                    src="{{ url_for('static', filename=feed.favicon_path ) }}"></span>
                            {% endif %}
                            <span class="feed_card_title">{{ feed.title }}</span>
                        </div>
                    </td>
                    <td>
                        <button class="delete_button" hx-get="/delete_feed/{{ feed.id }}"
                            data-feed-id="{{ feed.id }}">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>

{% endblock %}