<div class="rss_entry_title_container">
    <h1>Settings</h1>
</div>
<div class="rss_entry_content">
    <h2>Manage Feeds</h2>
    <h3>Add feed</h3>
    <form id="add_feed_form" hx-post="/add_feed" hx-params="*">
        <label for="feed_url">Enter Feed URL:</label>
        <input type="text" id="feed_url" name="feed_url" >
        <button type="submit" >Add Feed</button>
    </form>
    <h3>Import from OPML</h3>
    <form hx-post="/upload_opml" enctype="multipart/form-data">
      <p><input type="file" name="opml_file" accept=".opml"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <!-- This div will show the result of the form submission -->
    <div id="add_feed_result" hx-target="#add_feed_result">
    </div>
    <table>
        <thead>
            <tr>
                <th>Feed</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for feed in rss_feeds %}
            <tr>
                <td class="settings_table_feed_card">
                    <div class="rss_feed_card_left">
                        {% if not feed.favicon_path %}
                        <span><img class="rss_feed_icon" src="{{ url_for('static', filename='/svg/bx-rss.svg' ) }}"></span>
                        {% else %}
                        <span><img class="rss_feed_icon" src="{{ url_for('static', filename=feed.favicon_path ) }}"></span>
                        {% endif %}
                        <span class="rss_feed_card_title">{{ feed.title }}</span>
                    </div>
                </td>
                <td>
                    <button class="delete_button" hx-get="/delete_feed/{{ feed.id }}" data-feed-id="{{ feed.id }}">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h2>Visuals</h2>
</div>