@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Noto+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

:root {
    --primary-colour: hsl(15, 96%, 57%);
    --entry-content-colour: hsl(36, 5%, 21%);
}

body {
    font-family: 'Noto Sans', 'Arial', 'sans-serif';
    margin: 0 auto;
    /* max-width: 50em; */
    line-height: 1.5;
    padding: 0em 0em;
    overflow: hidden;
}

div {
    /* border: 1px black solid; */
}

.feed_list_header {
    padding: 5px;
}

.refresh_button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #333;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.refresh_button:hover {
    background-color: #333;
    color: #fff;
}

/* PAGE FORMATTING */
.main {
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20fr;
    height: 100vh;
    width: 100vw;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 8fr;
    overflow: hidden;
}

.body {
    display: grid;
    /* grid-template-columns: 1fr 1fr 8fr; */
    /* grid-template-columns: 1fr; */
    overflow: hidden;
    border-top: thin lightgray solid;
}


.feed_list,
.feed_entries,
.feed_entry_container {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* -------------------------- */




/* FEED LIST */
.rss_feed_title {
    font-size: 1.2em;
    /* font-family: 'Agbalumo'; */
}

input.rss_feed_button {
    display: none;
}

.feed_list {
    min-width: 25ch;
    border-right: thin lightgray solid;
}

.feed_list_header {
    min-width: 25ch;
}

.rss_feed_icon {
    width: 1em;
    height: 1em;
}

.rss_feed_card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    border-radius: 2%;
    margin-left: 5px;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 8px;

    padding: 5px;
}

.rss_feed_card:hover {
    background-color: lightgray;
}

/* -------------------------- */




/* ENTRIES LIST */
.rss_feeds_title {
    font-size: 1.2em;
}

input.rss_entry_button {
    display: none;
}

.feed_entries {
    min-width: 200px;
    border-right: thin lightgray solid;
}

.feed_entries_header {
    min-width: 200px;
}

.rss_entry_card {
    text-overflow: ellipsis;

    border-radius: 2%;
    margin-left: 5px;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 8px;

    padding: 5px;
}

.rss_entry_card:hover {
    background-color: lightgray;
}

.rss_entry_label input[type="radio"]:checked+.rss_entry_card {
    background-color: lightblue;
}

.rss_feed_label input[type="radio"]:checked+.rss_feed_card {
    background-color: lightblue;
}

/* -------------------------- */




/* ENTRY CONTENT */
.feed_entry_container {
    padding: 20px;
    color: var(--entry-content-colour);
}

.rss_entry_title {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
}

.rss_entry_title {
    text-decoration: none;
    color: inherit;
}

.rss_entry_content {
    font-family: 'PT Serif', serif;
    font-size: clamp(18px, 1.5vw, 21px);
}

.rss_entry_content img,
figure {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
}

a {
    color: var(--primary-colour);
}

a[target="_blank"]::after {
    content: "\279A";
    display: inline-block;
    margin-left: 0.2em;
    font-size: 0.8em;
}

/* -------------------------- */