<label class="rss_feed_label">
	<input type="radio" class="rss_feed_button" hx-get="/entries?next_page=0" hx-target="#feed_entries"
	@click="feed_list_show = (ismobile) ? false : true">

	<div class="rss_feed_card">
		<span><img class="rss_feed_icon" src="{{ url_for('static', path='feed.svg' ) }}"></span>
		<span>All Feeds</span>
	</div>
</label>

{% for feed in rss_feeds %}
<label class="rss_feed_label">
	<input type="radio" name="feed" class="rss_feed_button" hx-get="/entries/{{ feed.id }}?next_page=0" hx-target="#feed_entries" hx-swap="scroll:top"
	       @click="feed_list_show = (window.innerWidth < 768) ? false : true; entry_list_show = true;">

	<div class="rss_feed_card">
		<span> <img class="rss_feed_icon" src="{{ feed.favicon_url }}"></span>
		<span class="rss_feed_card_title">{{ feed.title }}</span>
	</div>
</label>
{% endfor %}
