<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>MONSTER</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.ico') }}">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>

<body>
    <div class="main">

        <div class="header">
            <div class="feed_list_header"></div>
            <div class="feed_entires_header"></div>
            <div class="feed_entry_header"></div>
        </div>
        <div class="body">
                <div class="feed_list" hx-get="/feeds" hx-trigger="load"></div>
                <div class="feed_entries" id="feed_entries"></div>
            <div class="feed_entry_container" id="feed_entry_container"></div>
        </div>
    </div>
</body>

</html>